<h3 class="text-center display-4 fw-bolder m-3">Download template voor startsituatie</h3>
<div class="mx-auto w-25">
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="DownloadTemplate">Download</a>
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="Index">Terug</a>
</div>