<h3 class="text-center display-4 fw-bolder m-3">Admin</h3>
<div class="mx-auto w-25">
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="StudentAccounts">Accountbeheer</a>
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="ShowStudents">Studenten</a>
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="ImportStudentsIndex">Import Studenten</a>
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="Search">Zoeken</a>
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="ImportOrderIndex">Import Startsituatie</a>
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="ExportOrderIndex">Export Data</a>
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="DownloadTemplateIndex">Download Import Startsituatie Template</a>
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="DownloadTemplateIndexStudents">Download Import Studenten Template</a>
    <a class="w-100 m-1 btn btn-outline-info" asp-area="Admin" asp-controller="Products" asp-action="Index">Producten</a>
</div>