<div class="container">
    <div class="row">
        <div class="mx-auto d-flex flex-column align-items-center">
            <h1 class="jumbotron display-4 fw-bolder m-3 text-center">Welkom bij de stock simulatie van</h1>
            <img class="w-50 m-3" src="~/images/logo_scala.svg"/>
            <a class="btn btn-primary scala-blue btn-lg w-25 m-3" asp-controller="Account" asp-action="Login">Ga naar login</a>
        </div>
    </div>
</div>
